.overlay {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    max-width: 80%;
    padding: 12px 20px;

    background-color: rgba(0, 0, 0, 0.75);
    color: white;

    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    z-index: 9999;
    pointer-events: none;
}

.overlay p{
    margin: 0;
}